table,th,td{
    border:2px solid grey;
    border-collapse:collapse;
    width:400px;
    text-align:center;
    
    
}

th,td{
    
    padding:11px;
    
}

th{
    font-weight:600;
}

.catogory{
    border:none;
    outline:none;
    font-weight:600;
    position:relative;
    font-size:14px;
    min-width:80px;
    top:7px;
}

i{
    cursor:pointer;
}

.clear-sort{
    cursor:pointer
}


@media only screen and (max-width:590px){
    table,th,td  {
      width:auto;
    }

}