.header-content-container{
    position:sticky;
    top:0px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index:1;
    min-width:100%;
    flex-wrap:nowrap;
}

.header-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-inline:10vw;
    padding:15px;
    
}


